<li>
    <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
        {{#if devoured}}{{name}} <i class="fas fa-check"></i>{{else}}{{name}} <i class="fas fa-ban"></i>{{/if}}
    </button>
</li>